body{
	background: linear-gradient(to right, #c50a68e8 , #0a7b97d5);
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	width: 50%;
	margin: 15px auto;
	padding: 20px;
	text-align: center;
	min-height: 50vh;
}
#playlist{
    background: white;
	background: white;
	border-radius: 10px;
	text-align: left;
	opacity: 0.8;
	color: #db0f72;
	
}